#notifications-center {
    display: flex;
    flex-direction: column;
}

#notifications-center .card-body {
    white-space: pre-wrap;
}

#notifications-center .card-body + button {
    border-radius: 0 0 0.25rem 0.25rem;
}

#notifications-center .card {
    margin-bottom: 1rem;
}

#notifications-center .bg-light {
    background-color: #fbfbfb !important;
}

#notifications-center .close {
    color: inherit;
}

#notifications-center #btn-dismiss-all {
    margin-bottom: 1rem;
}

#notifications-center .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 402px) {
    #btn-dismiss-all {
        position: relative;
        width: 100%;
        float: none !important;
    }
}

#notifications-center .highlight-danger {
    background-color: var(--bs-danger-bg-subtle);
}

#notifications-center .highlight-info {
    background-color: var(--bs-info-bg-subtle);
}
