<!DOCTYPE html>
<html lang="{{ locale }}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="{{ url_for('static', filename='reforis/imgs/favicon.svg') }}"
        />
        <link
            rel="icon"
            type="image/png"
            href="{{ url_for('static', filename='reforis/imgs/favicon.png') }}"
        />

        {# CSS #}
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename = 'reforis/css/fonts.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename = 'reforis/css/main.css') | autoversion }}"
        />
        <script>
            FontAwesomeConfig = { autoReplaceSvg: "nest" };
        </script>
        {# JS #} {% include 'includes/locale.html' %} {% include
        'includes/plugins.html' %}
        <script
            type="text/javascript"
            src="{{ url_for('static', filename = 'reforis/js/vendors.min.js') | autoversion }}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename = 'reforis/js/main.min.js') | autoversion }}"
        ></script>
        {% block js %}{% endblock %}
        <title>{% block title %}{% endblock %}reForis | Turris</title>
    </head>

    <body>
        <div id="app-container"></div>
        <div class="wrapper {% block wrapper_class %}{% endblock %}">
            {% block navigation %} {% include "includes/navigation.html" %} {%
            endblock %}
            <main id="content">
                <div id="alert-container"></div>
                {% include "includes/top-bar.html" %} {% block content %} {%
                endblock %}
            </main>
        </div>

        {# Helpers #}
        <div id="router-state-handler"></div>
        <div id="scroll-to-top"></div>
        <div id="modal-container"></div>
    </body>
</html>
